<%= form_for @profile, url: profile_path, method: :post do |f| %>
  <p>Имя</p>
  <%= f.text_field :first_name %><br>
  <p>Фамилия</p>
  <%= f.text_field :last_name %><br>
  
  <%= f.submit "Обновить" %>
<% end %>